$w100: 100%;
$w90: 90%;
$w80: 80%;
$w75: 75%;
$w66: 66%;
$w50: 50%;
$w33: 33%;
$w25: 25%;
$w20: 20%;
$w10: 10%;

$query-xl: 1440px;
$query-lg: 1280px;
$query-md: 720px;
$query-sm: 460px;
$query-xs: 0px;
