@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.wrap {
  margin: 0 auto;
}

[class*="cw-"],
[class*="ch-"] {
  display: inline-block;
  float: left;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: 50px;
  width: 50px;
  display: inline-block;
  outline: 0;
}

input[type="checkbox"]:before {
  content: "";
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

input[type="checkbox"]:checked:after {
  background-color: green;
}

@media (min-width: 0px) {
  [class*="cw-"],
  [class*="ch-"] {
    width: 100%;
  }
  .cw-xs-100 {
    width: 100%;
  }
  .cw-xs-90 {
    width: 90%;
  }
  .cw-xs-80 {
    width: 80%;
  }
  .cw-xs-75 {
    width: 75%;
  }
  .cw-xs-66 {
    width: 66%;
  }
  .cw-xs-50 {
    width: 50%;
  }
  .cw-xs-33 {
    width: 33%;
  }
  .cw-xs-25 {
    width: 25%;
  }
  .cw-xs-20 {
    width: 20%;
  }
  .cw-xs-10 {
    width: 10%;
  }
  .ch-xs-100 {
    padding-bottom: 100%;
  }
  .ch-xs-90 {
    padding-bottom: 90%;
  }
  .ch-xs-80 {
    padding-bottom: 80%;
  }
  .ch-xs-75 {
    padding-bottom: 75%;
  }
  .ch-xs-66 {
    padding-bottom: 66%;
  }
  .ch-xs-50 {
    padding-bottom: 50%;
  }
  .ch-xs-33 {
    padding-bottom: 33%;
  }
  .ch-xs-25 {
    padding-bottom: 25%;
  }
  .ch-xs-20 {
    padding-bottom: 20%;
  }
  .ch-xs-10 {
    padding-bottom: 10%;
  }
  .wrap {
    width: 100%;
  }
}

@media (min-width: 460px) {
  .cw-sm-100 {
    width: 100%;
  }
  .cw-sm-90 {
    width: 90%;
  }
  .cw-sm-80 {
    width: 80%;
  }
  .cw-sm-75 {
    width: 75%;
  }
  .cw-sm-66 {
    width: 66%;
  }
  .cw-sm-50 {
    width: 50%;
  }
  .cw-sm-33 {
    width: 33%;
  }
  .cw-sm-25 {
    width: 25%;
  }
  .cw-sm-20 {
    width: 20%;
  }
  .cw-sm-10 {
    width: 10%;
  }
  .ch-sm-100 {
    padding-bottom: 100%;
  }
  .ch-sm-90 {
    padding-bottom: 90%;
  }
  .ch-sm-80 {
    padding-bottom: 80%;
  }
  .ch-sm-75 {
    padding-bottom: 75%;
  }
  .ch-sm-66 {
    padding-bottom: 66%;
  }
  .ch-sm-50 {
    padding-bottom: 50%;
  }
  .ch-sm-33 {
    padding-bottom: 33%;
  }
  .ch-sm-25 {
    padding-bottom: 25%;
  }
  .ch-sm-20 {
    padding-bottom: 20%;
  }
  .ch-sm-10 {
    padding-bottom: 10%;
  }
  .wrap {
    width: 460px;
  }
}

@media (min-width: 720px) {
  .cw-md-100 {
    width: 100%;
  }
  .cw-md-90 {
    width: 90%;
  }
  .cw-md-80 {
    width: 80%;
  }
  .cw-md-75 {
    width: 75%;
  }
  .cw-md-66 {
    width: 66%;
  }
  .cw-md-50 {
    width: 50%;
  }
  .cw-md-33 {
    width: 33%;
  }
  .cw-md-25 {
    width: 25%;
  }
  .cw-md-20 {
    width: 20%;
  }
  .cw-md-10 {
    width: 10%;
  }
  .ch-md-100 {
    padding-bottom: 100%;
  }
  .ch-md-90 {
    padding-bottom: 90%;
  }
  .ch-md-80 {
    padding-bottom: 80%;
  }
  .ch-md-75 {
    padding-bottom: 75%;
  }
  .ch-md-66 {
    padding-bottom: 66%;
  }
  .ch-md-50 {
    padding-bottom: 50%;
  }
  .ch-md-33 {
    padding-bottom: 33%;
  }
  .ch-md-25 {
    padding-bottom: 25%;
  }
  .ch-md-20 {
    padding-bottom: 20%;
  }
  .ch-md-10 {
    padding-bottom: 10%;
  }
  .wrap {
    width: 720px;
  }
}

@media (min-width: 1280px) {
  .cw-lg-100 {
    width: 100%;
  }
  .cw-lg-90 {
    width: 90%;
  }
  .cw-lg-80 {
    width: 80%;
  }
  .cw-lg-75 {
    width: 75%;
  }
  .cw-lg-66 {
    width: 66%;
  }
  .cw-lg-50 {
    width: 50%;
  }
  .cw-lg-33 {
    width: 33%;
  }
  .cw-lg-25 {
    width: 25%;
  }
  .cw-lg-20 {
    width: 20%;
  }
  .cw-lg-10 {
    width: 10%;
  }
  .ch-lg-100 {
    padding-bottom: 100%;
  }
  .ch-lg-90 {
    padding-bottom: 90%;
  }
  .ch-lg-80 {
    padding-bottom: 80%;
  }
  .ch-lg-75 {
    padding-bottom: 75%;
  }
  .ch-lg-66 {
    padding-bottom: 66%;
  }
  .ch-lg-50 {
    padding-bottom: 50%;
  }
  .ch-lg-33 {
    padding-bottom: 33%;
  }
  .ch-lg-25 {
    padding-bottom: 25%;
  }
  .ch-lg-20 {
    padding-bottom: 20%;
  }
  .ch-lg-10 {
    padding-bottom: 10%;
  }
  .wrap {
    width: 1280px;
  }
}

@media (min-width: 1440px) {
  .cw-xl-100 {
    width: 100%;
  }
  .cw-xl-90 {
    width: 90%;
  }
  .cw-xl-80 {
    width: 80%;
  }
  .cw-xl-75 {
    width: 75%;
  }
  .cw-xl-66 {
    width: 66%;
  }
  .cw-xl-50 {
    width: 50%;
  }
  .cw-xl-33 {
    width: 33%;
  }
  .cw-xl-25 {
    width: 25%;
  }
  .cw-xl-20 {
    width: 20%;
  }
  .cw-xl-10 {
    width: 10%;
  }
  .ch-xl-100 {
    padding-bottom: 100%;
  }
  .ch-xl-90 {
    padding-bottom: 90%;
  }
  .ch-xl-80 {
    padding-bottom: 80%;
  }
  .ch-xl-75 {
    padding-bottom: 75%;
  }
  .ch-xl-66 {
    padding-bottom: 66%;
  }
  .ch-xl-50 {
    padding-bottom: 50%;
  }
  .ch-xl-33 {
    padding-bottom: 33%;
  }
  .ch-xl-25 {
    padding-bottom: 25%;
  }
  .ch-xl-20 {
    padding-bottom: 20%;
  }
  .ch-xl-10 {
    padding-bottom: 10%;
  }
}

.gridify > .column > .item {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  background-color: #333;
}

.gridify > .column > .item > .block {
  position: relative;
  background-color: #333;
}

.gridify > .column > .item > .block > .content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

[data-loading] > * {
  visibility: hidden;
}

[data-loading][data-load-type="bounce"]:after,
[data-loading][data-load-type="bounce"]:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  background-color: white;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: loadBounce 1.5s infinite;
}

[data-loading][data-load-type="bounce"]:after {
  animation-delay: .75s;
}

@keyframes loadBounce {
  0% {
    transform: scale(0);
    opacity: .2;
  }
  50% {
    transform: scale(1);
    opacity: .6;
  }
  100% {
    opacity: .2;
    transform: scale(0);
  }
}

.pop {
  position: relative;
}

.pop:hover .popover {
  opacity: 1;
  visibility: visible;
}

.pop .popover {
  position: absolute;
  z-index: 1;
  background-color: #111;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: .6s;
}

.pop .popover:hover {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.pop .popover.top {
  margin-bottom: 10px;
  bottom: calc( 100%);
}

.pop .popover.right {
  margin-right: 10px;
  left: calc( 100%);
}

.pop .popover.left {
  margin-left: 10px;
  right: calc( 100%);
}

.pop .popover.bottom {
  margin-top: 10px;
  top: calc( 100%);
}

.pop .popover.middle {
  top: 50%;
  transform: translatey(-50%);
}

.pop .popover.center {
  left: 50%;
  transform: translateX(-50%);
}
